body{
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 50px;
    
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
button{
    background-color: orange;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border-color: orange;
}